@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string ipAddress = "bilinmiyor";
    Model.GetIpAddress();

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ipAddress</p>
</div>
